
$primary : #2A5940;
$secondary : #63858A;
$success : #A8BFA3;
$danger : #B4CFD2;
$warning : #9BC8C7;
$info : #6F7E67;

$font-family-sans-serif : "Open Sans", sans-serif;
$font-family-serif : "Orelega One",serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons.min.css";